#root {
  /* Ou o seletor do container do seu app */
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  height: 100vh; /* 100% da altura da viewport */
}

.leaflet-container {
  /* ... (outros estilos) */
  flex-grow: 1; /* Faz o mapa ocupar o espaço restante disponível */
}
/* MapaBrasil.css */
.leaflet-container {
  background-color: #111; /* Fundo preto */
  color: #fff; /* Texto branco */
  height: 100vh;
  width: 100vw;
}

.leaflet-tile {
  filter: grayscale(100%); /* Converte os tiles para preto e branco */
}
